/* 숫자 스타일 */
.hljs-ln-numbers-container {
  /* 가로 스크롤 가능하도록 설정 */
  overflow-x: scroll !important;
  /* 컨테이너에 고정된 너비 설정 */
  width: 100%;
  /* 스크롤바 스타일 */
  scrollbar-width: thin;
  scrollbar-color: #ff0000 transparent;
  /* 상단과 하단에 공백 추가 */
  margin-top: 5px;
  margin-bottom: 5px;
}

.hljs-ln-numbers-container::-webkit-scrollbar {
  width: 1px !important;
}

.hljs-ln-numbers-container::-webkit-scrollbar-thumb {
  background-color: #ff0000; /* 원하는 색상으로 변경 */
}

.hljs-ln-numbers-container::-webkit-scrollbar-track {
  background-color: #dddddd; /* 원하는 색상으로 변경 */
}

.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* 가운데 정렬 */
  text-align: center;
  /* 글자 색 설정 */
  color: #ccc;
  /* 오른쪽 선 설정 */
  border-right: 1px solid #CCC;
  /* 세로 정렬 */
  vertical-align: top;
  /* 오른쪽 여백 */
  padding-right: 10px !important;
  /* 글자 사이즈 */
  font-size: 11pt;
  /* 라인 높이 */
  line-height: 15px;
  /* 공백 설정 */
  white-space: pre-wrap;
}

/* 코드 스타일 */
.hljs-ln-code-container {
  /* 가로 스크롤 가능하도록 설정 */
  overflow-x: scroll !important;
  /* 컨테이너에 고정된 너비 설정 */
  width: 100%;
  /* 스크롤바 스타일 */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  /* 상단과 하단에 공백 추가 */
  margin-top: 5px;
  margin-bottom: 5px;
}

.hljs-ln-code-container::-webkit-scrollbar {
  width: 1px !important;
}

.hljs-ln-code-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* 스크롤바 색상 */
}

.hljs-ln-code-container::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 트랙 색상 */
}

.hljs-ln-code {
  /* 왼쪽 여백 */
  padding-left: 10px !important;
  /* 글자 사이즈 */
  font-size: 11pt;
  /* 공백 설정 */
  white-space: pre;
  /* 라인 높이 */
  line-height: 15px;
}
