@charset "UTF-8";

@import url(default.css);
@import url(fwall.min.css);
pre{white-space: normal;}

/* layout*/
body{height: 100vh;overflow:hidden}
#wrapper {position:relative; top:0; left:0;z-index: 1;height: 100%;}
#header {position:fixed; top:0; left:0; width:154px; height:100%; z-index:-1; background:#0E2436;overflow-y: auto; overflow-x: hidden;}
#sideMenu {position: fixed; top: 0; left: 154px; width: 335px; height: 100%; background: #f0f0f0;}
#content {position: absolute; top: 0; left: 489px; width:calc(100% - 489px); min-width: 400px; height: 100%;overflow-y: auto; overflow-x: hidden;}


/* scrollbar */
::-webkit-scrollbar {width: 8px; }
::-webkit-scrollbar-thumb {background-color: #d1d1d1; border-radius: 5px;}
::-webkit-scrollbar-thumb:hover {background-color: #22435e; border-radius: 5px;}
::-webkit-scrollbar-track {background-color: #e9e9e9; border-radius: 5px;}

/* header-gnb */
#header .logo{display: block; margin-top: 50px; margin-bottom: 45px; text-align: center; text-rendering: optimizeLegibility;}
#header .logo span{font: 400 20px 'orbitron'; color: #fff;}
#header .logo p{margin-top: 3px; font: 200 18px 'pretendard'; color: #C9C9C9;}
#header .logo .mb-menu{display: none;}
#header .gnb li a{display: block; padding-left: 35px; font: 400 18px 'poppins'; color: #C9C9C9; line-height: 84px;}
#header .gnb li a:hover{background: #fff; font-weight: 600; color: #000;}
#header .gnb li a.active {background: #667a8a; font-weight: 600; color: #fff;}
#header .ModeBtn{width: 134px; height: 41px; position: absolute; bottom: 20px; left: 10px; background-image: url('../images/light.png');cursor: pointer;}
#header .ModeBtn:hover{background-image: url('../images/light-hover.png');}

/* sideMenu */
#sideMenu button{position: absolute; left: 36px; top: 56px; width: 40px; height: 40px; background: url('../images/search.png') no-repeat center;}
#sideMenu input{margin: 50px 28px 15px !important; padding: 0 10px 0 50px; width:217px;height:49px;}
#sideMenu .tab{height: calc(100% - 114px); overflow-y: auto;}
#sideMenu .listGroup .title{display: block; text-indent: 28px; margin: 20px 0 10px; font: 500 20px 'pretendard'; color: #0e2436;}
#sideMenu .listGroup .subTitle{display: block; margin: 0 28px 0; font: 400 18px/35px 'pretendard';color: #22ACCA;}
#sideMenu .listGroup .line{margin-top: -5px; padding-top: 10px; border-top: solid 1px #aaaaaa;}
#sideMenu .listGroup ul li a{padding: 5px 0; position: relative; display: block; font: 400 16px/24px 'pretendard'; color: #888888;}
#sideMenu .listGroup ul li a:hover{font: 800 16px/24px 'pretendard'; color: #0E2436;}
#sideMenu .listGroup ul li a:before{display: none; content: ''; position: absolute; left: 28px; top: 0px; height: 100%; width: 3px; border-left: 3px solid #0E2436;}
#sideMenu .listGroup ul li a:hover:before{display: block;}
#sideMenu .listGroup ul li a p{padding: 0 28px 0 44px;}
#sideMenu .listGroup:last-child{padding-bottom: 50px;}

/* content */
#content .container{margin: 95px 10% 0 5%;}
#content .container .underover {border-bottom: 1px dashed #1a86ae; padding-bottom: 1px; color :#1a86ae;}
#content .container code{padding: 5px 5px; background: #f3f5f5; border: 1px solid #ddd; border-radius: 0 3px 3px 3px; font: 400 18px 'pretendard';}
#content .container h1{font: 500 30px 'pretendard'; color: #0b0b0b;}
#content .container h2{font: 800 30px 'poppins'; color: #0e2436;}
#content .container li{line-height: 200%;}
#content .container .section{padding-top: 56px; font: 400 18px 'pretendard'; color: #0b0b0b;}
#content .container .section:last-child{padding-bottom: 56px;}
#content .container .row{margin-top: 24px;}
#content .container .info{margin-top: 30px;}
#content .container .info p{line-height: 130%; text-indent: -10px; padding-left: 10px;}
#content .container .listStyle-01{margin-left: 10px;}
#content .container .listStyle-02{margin-left: 40px;}
#content .container .listStyle-03{margin-left: 80px;}
#content .container .textBox{width: 100%; margin-top: 20px; border: solid 1px #0b0b0b; border-radius: 5px;}
#content .container .textBox>ul{margin: 22px 36px;}
#content .container .imgContain{text-indent: 0;}
#content .container .imgBox{width: 100%; margin-top: 10px; border: solid 2px #d9d9d9; border-radius: 5px; background: #f9f9f9; text-align: center;}
#content .container .imgBox>img{margin: 6px 19px; max-width: 85%;max-height: 50px;border: solid 1px #d9d9d9;}
#content .container .tip{margin-top: 10px;}
#content .container .tip li{line-height: 170% !important; font: 400 16px 'pretendard'; color: #7a7a7a;}
#content .container .hyperlink{color: #078FDC;}

#content .container .wrap_tab ul {display: flex;margin-bottom:-1px;}
#content .container .wrap_tab ul li{margin-right:-1px;padding:0 12px;background:#e4e4e4;font:400 14px/34px 'NanumGothic';border:1px solid #ddd; color: #949494; cursor:pointer;}
#content .container .wrap_tab ul .on{background: #f3f5f5; font-weight: 500;color: #0b0b0b; border-bottom-color: #f3f5f5;}

#content .move{position: fixed; left: 95%; top: 85%;}
#content .move .up{width:40px;height:40px;border-radius:50px;box-shadow:0px 4px 6px rgb(0 0 0 / 10%);background:#C3C8CD url(../images/up.png) no-repeat center;}
#content .move .up:hover{background-color: #667A8A; cursor: pointer;}
#content .move .down{margin-top:8px;width:40px;height:40px;border-radius:50px;box-shadow:0px 4px 6px rgb(0 0 0 / 10%);background:#C3C8CD url(../images/down.png) no-repeat center 15px;}
#content .move .down:hover{background-color: #667A8A; cursor: pointer;}
.wrap_tab {margin-top: 25px;}


/* --------------------------------------------------------------map-container----------------------------------------------------------------------- */
.map-container{margin-top:65px;padding-bottom:50px;display:flex;justify-content:space-around;flex-wrap:wrap;}
.map-container>li{margin-top:36px;line-height: 100% !important; font:500 18px 'pretendard';color:#0b0b0b; text-indent: 0 !important;}
.map-container>li a{display: block; position:relative;margin:0 auto 14px;width:275px;height:210px;background-position:center;background-size:contain;background-repeat:no-repeat;border:solid 1px #cacaca;border-radius:4px;cursor:pointer;}
.map-container>li a:before{display:none;content:'';width:100%;height:100%;-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(6px);filter:brightness(0.3);border-radius:4px}
.map-container>li a:hover:before{display: block; }
.map-container>li a p{margin-bottom:20px !important;display:none;position:absolute;left:50%; top:50%; transform: translate(-50%, -50%); font: 500 22px 'pretendard'; color:#fff;  width: 140px;}
.map-container>li a:hover p{display: block;    max-height: 100px; /* 스크롤바 높이 조절 */overflow-y: auto;}

.map-container>li .DE_060{background-image: url('../images/map-sample/060-map.png');}
.map-container>li .DE_061{background-image: url('../images/map-sample/061-map.png');}
.map-container>li .DE_062{background-image: url('../images/map-sample/062-map.png');}
.map-container>li .DE_063{background-image: url('../images/map-sample/063-map.png');}
.map-container>li .DE_064{background-image: url('../images/map-sample/064-map.png');}
.map-container>li .DE_065{background-image: url('../images/map-sample/065-map.png');}

/* --------------------------------------------------------------codBox----------------------------------------------------------------------- */
.section .codeBox{width: 100%; background: #232323; border: solid 3px #858585; border-radius: 4px;}
.section .codeBox .textArea{margin: 10px 20px;    /* 임시폰트값 */font: 600 30px 'pretendard'; color: #989898; opacity: 0.5;}
.section .codeBox-top{margin: 40px 0 20px;}
.section .codeBox-bottom{margin: 20px 0 20px;}

/* $('body').removeClass('darkMode') */
/* --------------------------------------------------------------darkMode----------------------------------------------------------------------- */

/* header */
body.darkMode #header{background: #000 !important;}
body.darkMode .gnb li a:hover{background: #fff !important; font-weight: 600; color:#323232 !important}
body.darkMode .gnb li a.active {background: #575757 !important; font-weight: 600; color: #C9C9C9 !important;}

body.darkMode .ModeBtn{background-image: url('../images/dark.png') !important;}
body.darkMode .ModeBtn:hover{background-image: url('../images/dark-hover.png') !important;}

/* sideMenu */
body.darkMode input{background: none !important; color: #d3d3d3 !important;}
body.darkMode #sideMenu{background: #323232 !important;}
body.darkMode .listGroup .title{color: #d3d3d3 !important;}
body.darkMode .listGroup ul li a:hover{color: #fff !important;}
body.darkMode .listGroup ul li a:before{border-color: #fff !important;}

/* .content */
body.darkMode #content{background: #1c1c1c !important;}
body.darkMode code{background: #414141 !important; font-weight: 300 !important; border-color: #717171 !important;}
body.darkMode h1{color: #e4e4e4 !important;}
body.darkMode h2{color: #e4e4e4 !important;}
body.darkMode .section{color: #d3d3d3 !important; font-weight: 300 !important;}
body.darkMode .textBox{border-color: #d3d3d3 !important;}
body.darkMode .imgBox{background: #232323 !important; border-color: #515151 !important;}
body.darkMode .imgBox>img{border-color: #424242 !important;}
body.darkMode .map-container li{color: #d3d3d3 !important; font-weight: 300 !important;}
body.darkMode .map-container li a{border-color: #515151 !important;}
body.darkMode .codeBox{border-color: #515151 !important;}
body.darkMode .move .up{background: #3A3A3A url(../images/dark-up.png) no-repeat center !important;}
body.darkMode .move .up:hover{background-color: #797979 !important;}
body.darkMode .move .down{background: #3A3A3A url(../images/dark-down.png) no-repeat center 15px !important;}
body.darkMode .move .down:hover{background-color: #797979 !important;}

/* scrollbar */
body.darkMode ::-webkit-scrollbar-thumb {background-color: #636363 !important;}
body.darkMode ::-webkit-scrollbar-thumb:hover {background-color: #cfcfcf !important;}
body.darkMode ::-webkit-scrollbar-track {background-color: #414141 !important;}

/* wrab-tab */
body.darkMode .wrap_tab ul li{background-color: #242424 !important; border-color: #717171 !important; color: #818181 !important;}
body.darkMode .wrap_tab ul .on{background-color: #414141 !important; border-bottom-color: #414141 !important; color: #d3d3d3 !important;}


/* --------------------------------------------------------------hover ON----------------------------------------------------------------------- */

/* #header .gnb li a:hover */
.gnb-on{background: #667a8a !important; box-shadow: 0px 0px 10px rgb(0 0 0 / 100%) !important; font-weight: 600 !important; color: #fff !important;}
.dark-gnb-on{background: #575757 !important; box-shadow: 0px 0px 10px rgb(0 0 0 / 100%) !important; font-weight: 600 !important; color: #fff !important;}

/* #sideMenu .listGroup ul li a:hover */
.listGroup-on{font: 800 16px/35px 'pretendard' !important; color: #0E2436 !important;}
.listGroup-on:before{display: block !important;}
.dark-listGroup-on{font: 800 16px/35px 'pretendard' !important; color: #fff !important;}
.dark-listGroup-on:before{display: block !important;}




/* --------------------------------------------------------------max-width:1280px----------------------------------------------------------------------- */

@media (max-width:1280px) {
    #header {width:96px;}
    #sideMenu {left: 96px; width: 209px;}
    #content {left: 305px; width:calc(100% - 305px);}

    #header .logo{margin-top: 31px; margin-bottom: 28px;}
    #header .logo span{font-size: 12px;}
    #header .logo p{font-size: 10px;}
    #header .gnb li a{padding-left: 22px; font-size: 12px; line-height: 53px;}
    #header .ModeBtn{width: 84px; height: 26px; background-size: 100%; left: 6px;}

    #sideMenu button{position: absolute; left: 30px; top: 41px; width: 13px; height: 13px; background-size: 100%;}
    #sideMenu input{margin: 31px 17px 9px !important; padding: 0 6px 0 31px; width:136px;height:31px; font-size: 10px; border-radius: 3px;}
    #sideMenu .tab{height: calc(100% - 72px);}
    #sideMenu .listGroup .title{text-indent: 18px; margin: 13px 0 6px; font-size: 13px;}
    #sideMenu .listGroup .subTitle{margin: 0 17px 0; font-size: 11px; line-height: 22px;}
    #sideMenu .listGroup .line{margin-top: -3px; padding-top: 6px;}
    #sideMenu .listGroup ul li a{padding: 3px 0; font-size: 10px; line-height: 15px;}
    #sideMenu .listGroup ul li a:hover{font-size: 10px; line-height: 15px;}
    #sideMenu .listGroup ul li a:before{left: 18px; height: 100%; width: 2px; border-width: 2px;}
    #sideMenu .listGroup ul li a p{padding: 0 18px 0 28px;}
    #sideMenu .listGroup:last-child{padding-bottom: 30px;}

    #content .container{margin-top: 59px;}
	#content .container code {padding: 2px 5px;margin: 10px 0;border-radius: 0 2px 2px 2px;font-size: 11px;}
    #content .container h1{font-size: 19px; border-bottom: 1px solid #ccc; padding-bottom: 18px; /* 아래쪽으로 5px의 padding 추가 */}
    #content .container h2{font-size: 19px; }
    #content .container .section{padding-top: 30px; font-size: 11px;}
    #content .container .section:last-child{padding-bottom: 35px;}
    #content .container .row{margin-top: 15px;}
    #content .container .info{margin-top: 19px;}
    #content .container .listStyle-01{margin-left: 6px;}
    #content .container .listStyle-02{margin-left: 25px;}
    #content .container .listStyle-03{margin-left: 50px;}
    #content .container .textBox{margin-top: 13px;border-radius: 4px;}
    #content .container .textBox>ul{margin: 14px 23px;}
    #content .container .imgBox{margin-top: 6px; border-radius: 4px;}
    #content .container .imgBox>img{margin: 6px 19px; max-width: 85%;max-height: 230px;}
    #content .container .tip{margin-top: 6px;}
    #content .container .tip li{font-size: 10px;}
    #content .move .up{width:25px;height:25px;background-size: 50% !important; background-position: center 8px !important;}
    #content .move .down{margin-top:5px;width:25px;height:25px;background-size: 50% !important; background-position: center 9px !important;}
    
    .map-container{margin-top:41px;padding-bottom:31px;}
    .map-container>li{margin-top:22px;font-size: 11px;}
    .map-container>li a{margin:0 auto 9px;width:178px;height:136px;border-radius: 3px; background-size: 100%;}
    .map-container>li a:before{border-radius: 3px;}
    .map-container>li a p{font-size: 11px;}
    
    .section .codeBox{border-radius: 3px; border-width: 2px;}
    .section .codeBox .textArea{margin: 6px 12px; font-size: 19px;}
    .section .codeBox-top{margin: 25px 0 13px;}
    .section .codeBox-bottom{margin: 13px 0 13px;}
    
    ::-webkit-scrollbar {width: 5px; }
    ::-webkit-scrollbar-thumb {background-color: #d1d1d1; border-radius: 5px;}
    ::-webkit-scrollbar-thumb:hover {background-color: #22435e; border-radius: 5px;}
    ::-webkit-scrollbar-track {background-color: #e9e9e9; border-radius: 5px;}
}


/* --------------------------------------------------------------max-width:768px----------------------------------------------------------------------- */

@media (max-width:768px) {
    #header {background: none; width: 100%;}
    #sideMenu {display: none; width: 0; height: 100%; background: none;}
    #content {display: block; position: absolute; left: 0; top: 55px; width:100%; height: calc(100% - 55px); min-width: 280px; overflow-y: auto; overflow-x: hidden;}
    
    /* header */
    #header .logo{position: fixed; margin: 0;padding: 15px 15px; height:25px; width: 100%;background:#0E2436; pointer-events: none;}
    #header .logo span{margin-top: 2px; padding: 0; float: left; font-size: 17px; pointer-events: all;}
    #header .logo p{margin-top: 6px; padding-left: 10px; float: left; font-size: 14px;}
    #header .mb-menu{display: block; width: 40px; height: 40px; position: fixed; left: calc(100% - 42px); top: 8px; background: url('../images/mb-menu.png') no-repeat center; cursor: pointer; z-index: 3;}

    /* search */
    #sideMenu button{display: none; position: fixed; left: calc(100% - 44px); top: 62px; width: 40px; height: 40px; background: url('../images/search.png') no-repeat center; z-index: 1;}
    #sideMenu input{display: none; position: fixed; top: 55px; left: 0; margin: 0 !important; padding: 0 10px 0 15px; width:100%;height:53px; font-size: 15px;font-weight: 300; border: none; box-shadow: 0 0 6px rgb(0 0 0 / 20%);border-radius:0;}

    /* left-gnb */
    #header .gnb{display: none; position: fixed; margin-top: 115px; width: 110px; height: 100%; background-color: #0E2436; box-shadow: 0 0 6px rgb(0 0 0 / 20%);}
    #header .gnb li a{margin: 0; padding-left: 30px; line-height: 70px; font-size: 14px;}
    #header .gnb li a:hover{font-size: 14px; }
    #header .ModeBtn{display: none; width: 91px; height: 34px; position: absolute; bottom: 20px; left: 10px; background: url('../images/light-mb.png') no-repeat center;cursor: pointer;}
    #header .ModeBtn:hover{background-image: url('../images/light-mb-hover.png');}

    /* right-menu */
    #sideMenu .tab{position: fixed; top: 115px; left: 110px; height: calc(100% - 115px); width: calc(100% - 110px); box-shadow: 0 0 6px rgb(0 0 0 / 20%);}
    #sideMenu .listGroup .title{margin: 0; padding: 8px 0; font-size: 15px; line-height: 24px; text-indent: 26px;}
    #sideMenu .listGroup .subTitle{margin: 0 30px 0; font-size: 15px; line-height: 40px;}
    #sideMenu .listGroup .line{margin: 0 0 0 30px; padding-top: 4px; border-top: solid 1px #aaaaaa;}
    #sideMenu .listGroup ul li a{padding: 8px 0; font-size: 14px; line-height: 24px;}
    #sideMenu .listGroup ul li a:hover{font-size: 14px; line-height: 24px;}
    #sideMenu .listGroup ul li a:before{display: none; content: ''; position: absolute; left: 28px; height: 100%; width: 3px; border-left: 3px solid #0E2436;}
    #sideMenu .listGroup ul li a:hover:before{display: block;}
    #sideMenu .listGroup ul li a p{padding: 0 12px 0 38px;}
    #sideMenu .listGroup:first-child .title{margin-top: 10px;}

    /* content */
    #content .container{width: 90%; margin: 40px auto 0;}  
    #content .container code{font-size:13px;padding: 2px 5px;border-radius: 0 3px 3px 3px;}
    #content .container h1{font-size: 18px;}     
    #content .container h2{font-size: 20px;} 
    #content .container .section{padding-top: 30px; font-size: 14px;}
    #content .container .section:last-child{padding-bottom: 20px;}    
    #content .container .row{margin-top: 14px;}     
    #content .container .info{margin-top: 18px;}   
    #content .container .textBox{margin-top: 13px;border-radius: 4px;}
    #content .container .textBox>ul{width: 90%; margin: 10px auto 10px;}    
    #content .container .mbImgBox{margin: 0;}
    #content .container .mbImgBox li{padding: 0; text-indent: 0;}
    #content .container .imgBox{margin-top: 8px; border:none; background: none;}
    #content .container .imgBox>img{margin: 3px 0px; max-width: 100%;}
    #content .container .tip{margin-top: 6px;}
    #content .container .tip li{font-size: 13px;}
    #content .move .up{display: none}           
    #content .move .down{display: none}        

    /* map-container */
    .map-container{margin-top:-20px; min-width: 326px;}
    .map-container>li{margin:20px 4px 0;font-size: 14px; padding: 0 !important;}
    .map-container>li a{margin:0 auto 10px; width:150px;height:110px;}

    /* scrollbar */
    ::-webkit-scrollbar {width: 0;}

    /* menuOn*/
    body.menuOn #header .mb-menu{background-image: url('../images/esc.png');}
    body.menuOn #sideMenu{display: block !important;}
    body.menuOn .gnb{display: block !important;}
    body.menuOn .ModeBtn{display: block !important;}
    body.menuOn #sideMenu button{display: block !important;}
    body.menuOn #sideMenu input{display: block !important;}
    body.menuOn #content{display: none !important;}

    /* darkMode */
    body.darkMode #header .logo{background-color: #000 !important;}
    body.darkMode #sideMenu input{background-color: #323232 !important;}
    body.darkMode #header .gnb{background-color: #000 !important;}
    body.darkMode #sideMenu .tab{background-color: #323232 !important;}
    body.darkMode .ModeBtn{background-image: url('../images/dark-mb.png') !important;}
    body.darkMode .ModeBtn:hover{background-image: url('../images/dark-mb-hover.png') !important;}
}

